body {
  color: #2e2e2e;
  background: #fff2e6;
  overflow-x: hidden;
}


.btn {
  color: #dc0000;
  transition: all 0.5s ease-in-out;
  border-bottom: 4px solid #dc0000;
  border-left: 4px solid #dc0000;
  border-top: 0.5px solid #dc0000;
  border-right: 0.5px solid #dc0000;
  border-radius: 20px 0 20px 0;
  font-size: 18px;
}
.btn:hover {
  color: #fff;
  background: #dc0000;
}


.title {
  font-weight: bold;
  line-height: 80px;
  color: #2e2e2e;
}
