body {
  color: #2e2e2e;
  background: #f7f9ff;
  overflow-x: hidden;
}


.btn {
  color: #2858d4;
  transition: all 0.5s ease-in-out;
  border-bottom: 4px solid #2858d4;
  border-left: 4px solid #2858d4;
  border-top: 0.5px solid #2858d4;
  border-right: 0.5px solid #2858d4;
  border-radius: 20px 0 20px 0;
  font-size: 16px;
}
.btn:hover {
  color: #fff;
  background: #2858d4;
}


.title {
  font-weight: bold;
  line-height: 80px;
  color: #2e2e2e;

}

@media(max-width: 768px){
  .title{
    font-size: 2rem;
    line-height: 50px;
  }
  .btn{
    font-size: 14px;
    border-radius: 15px 0 15px 0;
  }
}
